/* Font Definitions */
      @font-face {
        font-family: "Cambria Math";
        panose-1: 2 4 5 3 5 4 6 3 2 4;
      }
      @font-face {
        font-family: Calibri;
        panose-1: 2 15 5 2 2 2 4 3 2 4;
      }
      @font-face {
        font-family: "Segoe UI Symbol";
        panose-1: 2 11 5 2 4 2 4 2 2 3;
      }
      @font-face {
        font-family: "Segoe UI";
        panose-1: 2 11 5 2 4 2 4 2 2 3;
      }
      /* Style Definitions */
      p.MsoNormal,
      li.MsoNormal,
      div.MsoNormal {
        margin: 0cm;
        font-size: 12pt;
        font-family: "Times New Roman", serif;
      }
      p.MsoHeader,
      li.MsoHeader,
      div.MsoHeader {
        margin: 0cm;
        tab-stops: center 234pt right 468pt;
        font-size: 12pt;
        font-family: "Times New Roman", serif;
      }
      p.MsoFooter,
      li.MsoFooter,
      div.MsoFooter {
        margin: 0cm;
        tab-stops: center 234pt right 468pt;
        font-size: 12pt;
        font-family: "Times New Roman", serif;
      }
      p.MsoAcetate,
      li.MsoAcetate,
      div.MsoAcetate {
        margin: 0cm;
        font-size: 9pt;
        font-family: "Segoe UI", sans-serif;
      }
      p.MsoListParagraph,
      li.MsoListParagraph,
      div.MsoListParagraph {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 36pt;
        font-size: 12pt;
        font-family: "Times New Roman", serif;
      }
      p.MsoListParagraphCxSpFirst,
      li.MsoListParagraphCxSpFirst,
      div.MsoListParagraphCxSpFirst {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 36pt;
        font-size: 12pt;
        font-family: "Times New Roman", serif;
      }
      p.MsoListParagraphCxSpMiddle,
      li.MsoListParagraphCxSpMiddle,
      div.MsoListParagraphCxSpMiddle {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 36pt;
        font-size: 12pt;
        font-family: "Times New Roman", serif;
      }
      p.MsoListParagraphCxSpLast,
      li.MsoListParagraphCxSpLast,
      div.MsoListParagraphCxSpLast {
        margin-top: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;
        margin-left: 36pt;
        font-size: 12pt;
        font-family: "Times New Roman", serif;
      }
      p.msonormal0,
      li.msonormal0,
      div.msonormal0 {
        margin-right: 0cm;
        margin-left: 0cm;
        font-size: 12pt;
        font-family: "Times New Roman", serif;
      }
      span.HeaderChar {
        font-family: "Times New Roman", serif;
      }
      span.FooterChar {
        font-family: "Times New Roman", serif;
      }
      span.BalloonTextChar {
        font-family: "Segoe UI", sans-serif;
      }
      .MsoChpDefault {
        font-size: 10pt;
        font-family: "Calibri", sans-serif;
      }
      /* Page Definitions */
      @page {
      }
      @page WordSection1 {
        size: 612pt 792pt;
        margin: 0.5in 0.5in;
      }
      div.WordSection1 {
        page: WordSection1;
      }

/* Style Definitions */
      table.MsoNormalTable {
        font-size: 10pt;
        font-family: "Calibri", sans-serif;
      }
      table.MsoTableGrid {
        border: solid windowtext 0px;
        font-size: 10pt;
        font-family: "Times New Roman", serif;
      }
      table.TableGrid1 {
        border: solid windowtext 1pt;
        font-size: 10pt;
        font-family: "Times New Roman", serif;
      }

/* Moved from inline styles */
      .inl-1 {
        tab-interval: 36pt;
        word-wrap: break-word;
      }
      .inl-2 {
        width: 100%;
        border-collapse: collapse;
        mso-yfti-tbllook: 480;
        mso-padding-alt: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-3 {
        mso-yfti-irow: 0;
        mso-yfti-firstrow: yes;
        height: 35pt;
      }
      .inl-4 {
        width: 100%;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 35pt;
      }
      .inl-5 {
        display: block;
        margin: auto;
      }
      .inl-6 {
        text-align: center;
      }
      .inl-7 {
        mso-bidi-font-weight: normal;
      }
      .inl-8 {
        font-size: 18pt;
      }
      .inl-9 {
        font-size: 14pt;
      }
      .inl-10 {
        color: black;
      }
      .inl-11 {
        mso-yfti-irow: 1;
        height: 31.9pt;
      }
      .inl-12 {
        width: 23.54%;
        border: solid windowtext 1pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 31.9pt;
      }
      .inl-13 {
        width: 33.04%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 31.9pt;
      }
      .inl-14 {
        width: 11.84%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 31.9pt;
      }
      .inl-15 {
        width: 31.58%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 31.9pt;
      }
      .inl-16 {
        mso-yfti-irow: 2;
        height: 22pt;
      }
      .inl-17 {
        width: 23.54%;
        border: solid windowtext 1pt;
        border-top: none;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22pt;
      }
      .inl-18 {
        width: 14.7%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22pt;
      }
      .inl-19 {
        width: 18.34%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22pt;
      }
      .inl-20 {
        width: 43.42%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22pt;
      }
      .inl-21 {
        mso-yfti-irow: 3;
        height: 28.6pt;
      }
      .inl-22 {
        width: 23.54%;
        border: solid windowtext 1pt;
        border-top: none;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.6pt;
      }
      .inl-23 {
        width: 14.7%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.6pt;
      }
      .inl-24 {
        width: 18.34%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.6pt;
      }
      .inl-25 {
        width: 11.84%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.6pt;
      }
      .inl-26 {
        font-family: "Segoe UI Symbol", sans-serif;
        mso-bidi-font-family: "Segoe UI Symbol";
        color: #222222;
        background: white;
      }
      .inl-27 {
        mso-special-character: line-break;
      }
      .inl-28 {
        width: 15.56%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.6pt;
      }
      .inl-29 {
        width: 16.02%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.6pt;
      }
      .inl-30 {
        mso-yfti-irow: 4;
        height: 27.75pt;
      }
      .inl-31 {
        width: 23.54%;
        border: solid windowtext 1pt;
        border-top: none;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 27.75pt;
      }
      .inl-32 {
        width: 14.7%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 27.75pt;
      }
      .inl-33 {
        width: 18.34%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 27.75pt;
      }
      .inl-34 {
        width: 11.84%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 27.75pt;
      }
      .inl-35 {
        mso-special-character: line-break;
      }
      .inl-36 {
        width: 15.56%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 27.75pt;
      }
      .inl-37 {
        width: 16.02%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 27.75pt;
      }
      .inl-38 {
        mso-yfti-irow: 5;
        height: 23.35pt;
      }
      .inl-39 {
        width: 23.54%;
        border: solid windowtext 1pt;
        border-top: none;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 23.35pt;
      }
      .inl-40 {
        width: 14.7%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 23.35pt;
      }
      .inl-41 {
        width: 18.34%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 23.35pt;
      }
      .inl-42 {
        width: 43.42%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 23.35pt;
      }
      .inl-43 {
        mso-yfti-irow: 6;
        height: 35.5pt;
      }
      .inl-44 {
        width: 18.34%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 35.5pt;
      }
      .inl-45 {
        width: 43.42%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 35.5pt;
      }
      .inl-46 {
        mso-yfti-irow: 7;
        mso-yfti-lastrow: yes;
        height: 35.5pt;
      }
      .inl-47 {
        width: 38.24%;
        border: solid windowtext 1pt;
        border-top: none;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 35.5pt;
      }
      .inl-48 {
        font-size: 10pt;
        mso-bidi-font-size: 12pt;
        color: black;
      }
      .inl-49 {
        width: 61.76%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 35.5pt;
      }
      .inl-50 {
        margin-top: 6pt;
        margin-right: 0cm;
        margin-bottom: 6pt;
        margin-left: 0cm;
      }
      .inl-51 {
        position: absolute;
        margin-left: 0;
        margin-top: -298.45pt;
        width: 423pt;
        height: 63pt;
        z-index: 251660288;
        visibility: visible;
        mso-wrap-style: square;
        mso-width-percent: 0;
        mso-height-percent: 0;
        mso-wrap-distance-left: 9pt;
        mso-wrap-distance-top: 0;
        mso-wrap-distance-right: 9pt;
        mso-wrap-distance-bottom: 0;
        mso-position-horizontal: center;
        mso-position-horizontal-relative: margin;
        mso-position-vertical: absolute;
        mso-position-vertical-relative: text;
        mso-width-percent: 0;
        mso-height-percent: 0;
        mso-width-relative: page;
        mso-height-relative: page;
      }
      .inl-52 {
        mso-ignore: vglayout;
      }
      .inl-53 {
        font-family: "Arial", sans-serif;
        color: black;
      }
      .inl-54 {
        font-family: "Arial", sans-serif;
        color: black;
      }
      .inl-55 {
        width: 100%;
        border-collapse: collapse;
        border: none;
        mso-border-alt: solid windowtext 0.5pt;
        mso-yfti-tbllook: 480;
        mso-padding-alt: 0cm 5.4pt 0cm 5.4pt;
        mso-border-insideh: 0.5pt solid windowtext;
        mso-border-insidev: 0.5pt solid windowtext;
      }
      .inl-56 {
        mso-yfti-irow: 0;
        mso-yfti-firstrow: yes;
        height: 22.9pt;
      }
      .inl-57 {
        width: 20.66%;
        border: solid windowtext 1pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22.9pt;
      }
      .inl-58 {
        font-size: 11pt;
        mso-bidi-font-size: 12pt;
        color: black;
      }
      .inl-59 {
        width: 5.96%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22.9pt;
      }
      .inl-60 {
        width: 4.02%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22.9pt;
      }
      .inl-61 {
        width: 4.8%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22.9pt;
      }
      .inl-62 {
        width: 5.2%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22.9pt;
      }
      .inl-63 {
        width: 3.88%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22.9pt;
      }
      .inl-64 {
        width: 4.66%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22.9pt;
      }
      .inl-65 {
        width: 4.96%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22.9pt;
      }
      .inl-66 {
        font-size: 10pt;
        color: black;
      }
      .inl-67 {
        width: 3.74%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22.9pt;
      }
      .inl-68 {
        width: 4.44%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22.9pt;
      }
      .inl-69 {
        width: 3.86%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22.9pt;
      }
      .inl-70 {
        width: 6.74%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22.9pt;
      }
      .inl-71 {
        width: 7.1%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22.9pt;
      }
      .inl-72 {
        margin-top: 6pt;
        text-align: center;
      }
      .inl-73 {
        font-size: 11pt;
        mso-bidi-font-size: 12pt;
        color: black;
      }
      .inl-74 {
        width: 7.28%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 22.9pt;
      }
      .inl-75 {
        mso-yfti-irow: 1;
        height: 28.3pt;
      }
      .inl-76 {
        width: 20.66%;
        border: solid windowtext 1pt;
        border-top: none;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.3pt;
      }
      .inl-77 {
        font-size: 11pt;
        mso-bidi-font-size: 12pt;
        color: black;
      }
      .inl-78 {
        width: 5.96%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.3pt;
      }
      .inl-79 {
        width: 4.02%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.3pt;
      }
      .inl-80 {
        width: 4.8%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.3pt;
      }
      .inl-81 {
        width: 5.2%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.3pt;
      }
      .inl-82 {
        width: 3.88%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.3pt;
      }
      .inl-83 {
        width: 4.66%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.3pt;
      }
      .inl-84 {
        width: 4.96%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.3pt;
      }
      .inl-85 {
        width: 3.74%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.3pt;
      }
      .inl-86 {
        width: 4.44%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.3pt;
      }
      .inl-87 {
        width: 3.86%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.3pt;
      }
      .inl-88 {
        width: 6.74%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.3pt;
      }
      .inl-89 {
        width: 7.1%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.3pt;
      }
      .inl-90 {
        width: 7.28%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 28.3pt;
      }
      .inl-91 {
        mso-yfti-irow: 2;
        mso-yfti-lastrow: yes;
        height: 37.75pt;
      }
      .inl-92 {
        width: 20.66%;
        border: solid windowtext 1pt;
        border-top: none;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 37.75pt;
      }
      .inl-93 {
        width: 79.34%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 37.75pt;
      }
      .inl-94 {
        margin-top: 12pt;
        text-align: center;
      }
      .inl-95 {
        margin-top: 2pt;
        margin-right: 0cm;
        margin-bottom: 6pt;
        margin-left: 0cm;
      }
      .inl-96 {
        margin-bottom: 6pt;
      }
      .inl-97 {
        mso-bidi-font-weight: normal;
      }
      .inl-98 {
        text-decoration: none;
      }
      .inl-99 {
        margin-bottom: 6pt;
        text-align: justify;
      }
      .inl-100 {
        width: 100%;
        border-collapse: collapse;
        border: none;
        mso-border-alt: solid windowtext 0.5pt;
        mso-yfti-tbllook: 1184;
        mso-padding-alt: 0cm 5.4pt 0cm 5.4pt;
        mso-border-insideh: 0.5pt solid windowtext;
        mso-border-insidev: 0.5pt solid windowtext;
      }
      .inl-101 {
        mso-yfti-irow: 0;
        mso-yfti-firstrow: yes;
      }
      .inl-102 {
        width: 32.68%;
        border: solid windowtext 1pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-103 {
        margin-top: 2pt;
        margin-right: 0cm;
        margin-bottom: 6pt;
        margin-left: 0cm;
      }
      .inl-104 {
        width: 29.84%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-105 {
        margin-top: 2pt;
        margin-right: 0cm;
        margin-bottom: 6pt;
        margin-left: 0cm;
        text-align: center;
      }
      .inl-106 {
        mso-bidi-font-weight: normal;
      }
      .inl-107 {
        width: 13.48%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-108 {
        margin-top: 6pt;
        margin-right: 0cm;
        margin-bottom: 6pt;
        margin-left: 0cm;
        text-align: center;
      }
      .inl-109 {
        width: 24%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-110 {
        mso-yfti-irow: 1;
      }
      .inl-111 {
        width: 32.68%;
        border: solid windowtext 1pt;
        border-top: none;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-112 {
        width: 29.84%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-113 {
        width: 13.48%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-114 {
        width: 24%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-115 {
        mso-yfti-irow: 2;
      }
      .inl-116 {
        mso-yfti-irow: 3;
        mso-yfti-lastrow: yes;
      }
      .inl-117 {
        mso-yfti-irow: 0;
        mso-yfti-firstrow: yes;
        height: 42.45pt;
      }
      .inl-118 {
        width: 26.68%;
        border: solid windowtext 1pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 42.45pt;
      }
      .inl-119 {
        font-size: 11pt;
        mso-bidi-font-size: 12pt;
        color: black;
      }
      .inl-120 {
        width: 10.48%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 42.45pt;
      }
      .inl-121 {
        width: 27.96%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 42.45pt;
      }
      .inl-122 {
        width: 34.88%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 42.45pt;
      }
      .inl-123 {
        mso-yfti-irow: 1;
        height: 45.4pt;
      }
      .inl-124 {
        width: 26.68%;
        border: solid windowtext 1pt;
        border-top: none;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 45.4pt;
      }
      .inl-125 {
        width: 10.48%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 45.4pt;
      }
      .inl-126 {
        width: 27.96%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 45.4pt;
      }
      .inl-127 {
        width: 34.88%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 45.4pt;
      }
      .inl-128 {
        mso-yfti-irow: 2;
        mso-yfti-lastrow: yes;
        height: 52.6pt;
      }
      .inl-129 {
        width: 26.68%;
        border: solid windowtext 1pt;
        border-top: none;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 52.6pt;
      }
      .inl-130 {
        width: 10.48%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 52.6pt;
      }
      .inl-131 {
        width: 27.96%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 52.6pt;
      }
      .inl-132 {
        width: 34.88%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 52.6pt;
      }
      .inl-133 {
        margin-top: 12pt;
        margin-right: 0cm;
        margin-bottom: 6pt;
        margin-left: 0cm;
        text-align: justify;
      }
      .inl-134 {
        width: 10.54%;
        border: solid windowtext 1pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-135 {
        width: 34.9%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-136 {
        width: 29.56%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-137 {
        width: 25%;
        border: solid windowtext 1pt;
        border-left: none;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-138 {
        width: 10.54%;
        border: solid windowtext 1pt;
        border-top: none;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-139 {
        width: 34.9%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-140 {
        width: 29.56%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-141 {
        width: 25%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-142 {
        mso-yfti-irow: 2;
        mso-yfti-lastrow: yes;
        height: 3.5pt;
      }
      .inl-143 {
        width: 10.54%;
        border: solid windowtext 1pt;
        border-top: none;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 3.5pt;
      }
      .inl-144 {
        width: 34.9%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 3.5pt;
      }
      .inl-145 {
        width: 29.56%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 3.5pt;
      }
      .inl-146 {
        width: 25%;
        border-top: none;
        border-left: none;
        border-bottom: solid windowtext 1pt;
        border-right: solid windowtext 1pt;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-left-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 3.5pt;
      }
      .inl-147 {
        width: 100%;
        border: solid windowtext 1pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-148 {
        text-align: justify;
      }
      .inl-149 {
        mso-yfti-irow: 1;
        mso-yfti-lastrow: yes;
      }
      .inl-150 {
        width: 100%;
        border: solid windowtext 1pt;
        border-top: none;
        mso-border-top-alt: solid windowtext 0.5pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-151 {
        mso-spacerun: yes;
      }
      .inl-152 {
        mso-yfti-irow: 0;
        mso-yfti-firstrow: yes;
        mso-yfti-lastrow: yes;
        height: 72.4pt;
      }
      .inl-153 {
        width: 100%;
        border: solid windowtext 1pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 72.4pt;
      }
      .inl-154 {
        mso-yfti-irow: 0;
        mso-yfti-firstrow: yes;
        mso-yfti-lastrow: yes;
        height: 4pt;
      }
      .inl-155 {
        width: 100%;
        border: solid windowtext 1pt;
        mso-border-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
        height: 4pt;
      }
      .inl-156 {
        mso-yfti-irow: 0;
        mso-yfti-firstrow: yes;
        mso-yfti-lastrow: yes;
      }
      .inl-157 {
        border-collapse: collapse;
        border: none;
        mso-border-alt: solid windowtext 0.5pt;
        mso-yfti-tbllook: 1184;
        mso-padding-alt: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-158 {
        width: 42.8pt;
        border: none;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-159 {
        width: 262.8pt;
        border: none;
        border-bottom: solid windowtext 1pt;
        mso-border-bottom-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-160 {
        width: 38.4pt;
        border: none;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-161 {
        width: 112.2pt;
        border: none;
        border-bottom: solid windowtext 1pt;
        mso-border-bottom-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-162 {
        width: 262.8pt;
        border: none;
        mso-border-top-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }
      .inl-163 {
        mso-bidi-font-style: normal;
      }
      .inl-164 {
        width: 112.2pt;
        border: none;
        mso-border-top-alt: solid windowtext 0.5pt;
        padding: 0cm 5.4pt 0cm 5.4pt;
      }

.crr-page {
  width: 100%;
  overflow-x: auto;
}
